<header class="intro-header" style="background-image: url('/static/img/home-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Hyunho Blog</h1>
                    <hr class="small">
                    {# TODO: 해시 태그로 게시글 분류해서 출력되도록. #}
                    <span class="subheading">#공부 #일상 #취미</span>
                </div>
            </div>
        </div>
    </div>
</header>