{% extends 'blog/base.html' %}

{% block header %}
    {% include 'blog/base_header_post.html' %}
{% endblock %}

<!-- Post Content -->
{% block content %}
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    {% if user.is_authenticated %}
                        <div class="row" align="right">
                            {% if post.published_date == null %}
                                <a href="{% url 'post_publish' pk=post.pk %}" class="btn btn-default">publish</a>
                            {% endif %}
                            <a href="{% url 'post_remove' pk=post.pk %}" class="btn btn-default">delete</a>
                        </div>
                    {% endif %}

                    {% autoescape off %}{{ post.content|linebreaksbr }}{% endautoescape %}
                </div>
            </div>
        </div>
    </article>

    {# TODO: 댓글 템플릿 붙일예정. #}
    {#    <a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">Add Comment</a>#}
    {#    {% for comment in post.comments.all %}#}
    {#        {% if user.is_authenticated %}#}
    {#            <div class="comment">#}
    {#                <div class="date">#}
    {#                    {{ comment.create_date }}#}
    {#                    <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><span#}
    {#                            class="glyphicon glyphicon-remove"></span></a>#}
    {#                </div>#}
    {#                <strong>{{ comment.author }}</strong>#}
    {#                <p>{{ comment.content|linebreaks }}</p>#}
    {#            </div>#}
    {##}
    {#            <hr />#}
    {#        {% endif %}#}
    {#    {% empty %}#}
    {#        <p>No comments here yet :(</p>#}
    {#    {% endfor %}#}

    <ul class="pager">
        {% if prev_post %}
            <li class="previous"><a href="{% url 'post_draft_detail' pk=prev_post.first.pk %}">Previous</a></li>
        {% endif %}

        {% if next_post %}
            <li class="next"><a href="{% url 'post_draft_detail' pk=next_post.first.pk %}">Next</a></li>
        {% endif %}
    </ul>
{% endblock %}
