{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts.object_list %}
        <div class="post">
            <div class="date">
                <p>published: {{ post.published_date }}</p>
            </div>
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            {% autoescape off %}{{ post.content|linebreaksbr|truncatechars:600 }}{% endautoescape %}
            <br/>
            <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.comments.count }}</a>
        </div>
    {% endfor %}

    <div class="text-center">
        <ul class="pagination">
{#            {% if posts.has_previous %}#}
{#                <li class="previous"><a href="{% url 'post_list' page=posts.previous_page_number %}">&laquo;</a></li>#}
{#            {% endif %}#}

            {% for page in posts.paginator.page_range %}
                <li><a href="#">{{ page }}</a></li>
            {% endfor %}

            {% if posts.has_next %}
                <li class="next"><a href="#">&raquo;</a></li>
            {% endif %}
        </ul>
    </div>
{% endblock %}